/*Fonts from DaFont*/

@font-face {
    font-family: "BakeryRoastDemoRegular";
    src: url("/fonts/BakeryRoastDemoRegular.ttf");
}

@font-face {
    font-family: "Made Tommy Light";
    src: url("/fonts/MADE\ TOMMY\ Light_PERSONAL\ USE.otf");
}

@font-face {
    font-family: "Made Tommy Regular";
    src: url("/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}

/* End of DaFont code*/


/* DEFAULTS */

p {
    font-family: Made Tommy Light;
}


body {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}



img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}



h1 {
    font-family: BakeryRoastDemoRegular;
    color: #6D8E66;
    margin: 1rem 2rem auto;
    text-align: center;
    font-size: 6rem;
    text-shadow: -8px 7px 2px #0a2b03;
}

main {
    width: 100%;
    margin: -9rem auto 8px auto;
    text-align: center;
    background: rgb(61, 89, 56);
}

main h2 {
    background-color: #F6E6CB;
    width: 50%;
    height: 100%;
    padding: 40px 40px;
    margin: -30px auto;
    font-family: BakeryRoastDemoRegular;
    color: #6D8E66;
    font-size: 4rem;
}

.cards {
    width: 100%;
}

.cards h3 {
    font-family: Made Tommy Regular;
    padding-top: 60px;
}

.cards img {
    height: 50%;
    width: 50%;
}

.cards h3 {
    margin-top: 5rem;
    font-size: 2rem;
    color: #fff;
}

.cards p {
    flex-wrap: wrap;
}

.donut {

    margin-bottom: 50px;

}

footer {
    background-color: #F2C0B7;
    display: flex;
}

/* THIS MEDIA QUERY CHANGES THE NAVIGATION INTO A HAMBURGER MENU IN MOBILE VERSION */

@media (max-width: 768px) {

    .hero-container {
        background-size: cover;
        height: auto;
        min-height: 100vh;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger:hover .bar {
        background-color: #b5d1b1;
    }

    .navbar.responsive .menu {
        display: flex;
        flex-direction: column;
    }

    .navbar.responsive .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

}